apiVersion: v1
kind: Pod
metadata:
  name: room-service
  namespace: dev
  labels:
    app: room-service
    rel: canary
    type: backend
    lang: java
spec:
  containers:
  - name: room-service
    image: vivekkumarunify/room-allocation-service:latest
    ports:
    - containerPort: 8080
    livenessProbe:
      httpGet:
        path: /actuator/health
        port: 8081
      initialDelaySeconds: 30
      periodSeconds: 10
    readinessProbe:
      httpGet:
        path: /actuator/health
        port: 8081
      initialDelaySeconds: 15
      periodSeconds: 5
    resources:
      limits:
        memory: "512Mi"
        cpu: "500m"
      requests:
        memory: "256Mi"
        cpu: "250m"
